<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Development"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Test"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Production"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="ProductionLocal"
                     type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment"
             value="ProductionLocal" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[30]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[00:01]]></StartTime>
                <StopTime><![CDATA[23:59]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverapperror@urbanask.com]]></ErrorMailTo>
            <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <commandTimeout><![CDATA[60]]></commandTimeout>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <!-- application parameters -->
            <batchSize><![CDATA[500]]></batchSize>
            <deleteFromWork><![CDATA[Gabs.processNotifications.deleteFromWork]]></deleteFromWork>
            <googleApiKey><![CDATA[AIzaSyBM-MCmjIaamup_hmGeaKhF7mhqoJ17gjk]]></googleApiKey>
            <googleApiUrl><![CDATA[https://www.googleapis.com/urlshortener/v1/url?key={0}]]></googleApiUrl>
            <googleJsonMessage><![CDATA[{{"longUrl": "{0}"}}]]></googleJsonMessage>
            <moveToWork><![CDATA[Gabs.processNotifications.moveToWork]]></moveToWork>
            <pushApiUrl><![CDATA[https://go.urbanairship.com/api/push/]]></pushApiUrl>
            <pushBody><![CDATA[{{ "aliases": ["{0}"], "aps": {{ "badge": {1}, "alert": "{2}", "sound": "default" }} }}]]></pushBody>
            <questionUrl><![CDATA[http://urbanask.com/index.html?question-id={0}]]></questionUrl>
            <saveError><![CDATA[Gabs.processNotifications.saveError]]></saveError>
            <smsApiUrl><![CDATA[https://api.twilio.com/2010-04-01/Accounts/{0}/SMS/Messages.json]]></smsApiUrl>
            <smsApiKey><![CDATA[ACc287ac5ad697b5f50635a4d78d2fb042]]></smsApiKey>
            <smsApiToken><![CDATA[0d33534648a8e0edbec9886e83d3c7b1]]></smsApiToken>
            <smsBody><![CDATA[urbanAsk: {0}]]></smsBody>
            <twitterApiKey><![CDATA[LYmBn0COBIkkcRXpImTAJA]]></twitterApiKey>
            <twitterApiSecret><![CDATA[wsIo3xDOPD6BPviujjk5L1kwXEMYuTTIwToCGq0pxY]]></twitterApiSecret>
            <twitterToken><![CDATA[509992905-BtQL5o5lzWuMss95e5l4oimD6rJhfYIzeeVfGXoN]]></twitterToken>
            <twitterTokenSecret><![CDATA[WB2gwCk89jCgyvjud6JcaqRrKAIqxCciKfK0hb3WM4]]></twitterTokenSecret>
            <twitterBody><![CDATA[@{0} {1} {2} #urbanask]]></twitterBody>
            <twitterQuestionBody><![CDATA[RT {1} #urbanask {2}]]></twitterQuestionBody>
            <viewSmsActions><![CDATA[Gabs.processNotifications.viewSmsActions]]></viewSmsActions>
            <viewTwitterActions><![CDATA[Gabs.processNotifications.viewTwitterActions]]></viewTwitterActions>
            <viewPushActions><![CDATA[Gabs.[processNotifications].[viewPushActions]]]></viewPushActions>
            <workCount><![CDATA[200]]></workCount>
        </Default>
        <Development>
            <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
            <Schedule>
                <RefreshRate><![CDATA[5]]></RefreshRate>
            </Schedule>
            <connectionString><![CDATA[Server=75.144.228.69;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <workCount><![CDATA[5]]></workCount>
            <smsFrom><![CDATA[+19165206540]]></smsFrom>
            <pushApplicationKey><![CDATA[qCwAPfCrQnyDBYgdQ29jew]]></pushApplicationKey>
            <pushMasterSecret><![CDATA[kwCjAm7gRa-VzuUTc30F_Q]]></pushMasterSecret>
        </Development>
        <Test>
            <connectionString><![CDATA[Server=75.144.228.69;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <smsFrom><![CDATA[+19165206540]]></smsFrom>
            <pushApplicationKey><![CDATA[qCwAPfCrQnyDBYgdQ29jew]]></pushApplicationKey>
            <pushMasterSecret><![CDATA[kwCjAm7gRa-VzuUTc30F_Q]]></pushMasterSecret>
        </Test>
        <Production>
            <connectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <smsFrom><![CDATA[+14156305242]]></smsFrom>
            <pushApplicationKey><![CDATA[KElZDAHtTjithWTtTmPmcw]]></pushApplicationKey>
            <pushMasterSecret><![CDATA[bTmzQhgHTy6mk_LAPM5wTQ]]></pushMasterSecret>
        </Production>
        <ProductionLocal>
            <connectionString><![CDATA[Server=69.65.42.214;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <smsFrom><![CDATA[+14156305242]]></smsFrom>
            <pushApplicationKey><![CDATA[KElZDAHtTjithWTtTmPmcw]]></pushApplicationKey>
            <pushMasterSecret><![CDATA[bTmzQhgHTy6mk_LAPM5wTQ]]></pushMasterSecret>
        </ProductionLocal>
    </Parameters>
</configuration>

