<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Development"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Test"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Production"
                     type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment"
             value="Development" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[30]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[00:01]]></StartTime>
                <StopTime><![CDATA[23:59]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverapperror@urbanask.com]]></ErrorMailTo>
            <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <commandTimeout><![CDATA[60]]></commandTimeout>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <!-- application parameters -->
            <batchSize><![CDATA[500]]></batchSize>
            <moveToWork><![CDATA[Gabs.processNotifications.moveToWork]]></moveToWork>
            <deleteFromWork><![CDATA[Gabs.processNotifications.deleteFromWork]]></deleteFromWork>
            <viewSmsActions><![CDATA[Gabs.processNotifications.viewSmsActions]]></viewSmsActions>
            <viewTwitterActions><![CDATA[Gabs.processNotifications.viewTwitterActions]]></viewTwitterActions>
            <saveError><![CDATA[Gabs.processNotifications.saveError]]></saveError>
            <workCount><![CDATA[200]]></workCount>
            <smsApiUrl><![CDATA[https://api.twilio.com/2010-04-01/Accounts/{0}/SMS/Messages.json]]></smsApiUrl>
            <smsApiKey><![CDATA[ACc287ac5ad697b5f50635a4d78d2fb042]]></smsApiKey>
            <smsApiToken><![CDATA[0d33534648a8e0edbec9886e83d3c7b1]]></smsApiToken>
            <twitterApiKey><![CDATA[LYmBn0COBIkkcRXpImTAJA]]></twitterApiKey>
            <twitterApiSecret><![CDATA[wsIo3xDOPD6BPviujjk5L1kwXEMYuTTIwToCGq0pxY]]></twitterApiSecret>
            <twitterToken><![CDATA[509992905-BtQL5o5lzWuMss95e5l4oimD6rJhfYIzeeVfGXoN]]></twitterToken>
            <twitterTokenSecret><![CDATA[WB2gwCk89jCgyvjud6JcaqRrKAIqxCciKfK0hb3WM4]]></twitterTokenSecret>
            <smsBody><![CDATA[urbanAsk: {0}]]></smsBody>
            <twitterBody><![CDATA[@{0} {1} #urbanask {2}]]></twitterBody>
            <questionUrl><![CDATA[http://urbanask.com/index.html?question-id={0}]]></questionUrl>
        </Default>
        <Development>
            <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
            <Schedule>
                <RefreshRate><![CDATA[5]]></RefreshRate>
            </Schedule>
            <connectionString><![CDATA[Server=75.144.228.69;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <workCount><![CDATA[5]]></workCount>
            <smsFrom><![CDATA[+19165206540]]></smsFrom>
        </Development>
        <Test>
            <connectionString><![CDATA[Server=75.144.228.69;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <smsFrom><![CDATA[+19165206540]]></smsFrom>
        </Test>
        <Production>
            <connectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=processNotifications;pwd=spraypartfleshfort;Connect Timeout=600;]]></connectionString>
            <smsFrom><![CDATA[+14156305242]]></smsFrom>
        </Production>
    </Parameters>
</configuration>

