<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Parameters">
      <section name="Default" type="Configuration.IgnoreSectionHandler"/>
      <section name="Development" type="Configuration.IgnoreSectionHandler"/>
    </sectionGroup>
  </configSections>
    
  <appSettings>
    <add key="Environment" value="Development"/>
  </appSettings>

  <Parameters>
    <Default>
      <FacebookUrl>http://facebook.com</FacebookUrl>
      <FacebookUser1Name>Robert Walker</FacebookUser1Name>
      <FacebookUser1Email>facebooktest1@urbanask.com</FacebookUser1Email>
      <FacebookUser1Password>hooba%stank1</FacebookUser1Password>
      <FacebookApplicationsPageUrl>https://www.facebook.com/settings/?tab=applications</FacebookApplicationsPageUrl>
      <FacebookApplicationID>267603823260704</FacebookApplicationID>
      <FacebookPermissionPageUrl><![CDATA[http://www.facebook.com/connect/uiserver.php?app_id=267603823260704&method=permissions.request&redirect_uri=http%3A%2F%2Fapps.facebook.com%2Furbanask%2F%3Fref%3Dts&response_type=none&display=page&perms=email%2Cpublish_stream%2Cpublish_actions&auth_referral=1]]> </FacebookPermissionPageUrl>
      <Questions>
        <Question>Bolas</Question>
        <Question>Blue Slurpee</Question>
        <Question>Raw milk</Question>
        <Question>DVD rental machine</Question>
        <Question>Kite making supplies</Question>
        <Question>Otter Pops</Question>
        <Question>Baklava</Question>        
        <Question>British People</Question>        
        <Question>Red crowbar</Question>        
        <Question>Sliders</Question>        
        <Question>Honey Lemonade</Question>        
      </Questions>
    </Default>  
  </Parameters>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
