<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Development"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Test"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Production"
                     type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment"
             value="Development" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[60]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[00:01]]></StartTime>
                <StopTime><![CDATA[23:59]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverapperror@urbanask.comm]]></ErrorMailTo>
            <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <commandTimeout><![CDATA[60]]></commandTimeout>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <!-- application parameters -->
            <batchSize><![CDATA[10]]></batchSize>
            <workCount><![CDATA[10]]></workCount>
            <viewVerifyEmail><![CDATA[Gabs.login.viewVerifyEmail]]></viewVerifyEmail>
            <updateUserEmails><![CDATA[Gabs.login.updateUserEmail]]></updateUserEmails>
            <deleteOldVerifyEmails><![CDATA[Gabs.login.deleteOldVerifyEmails]]></deleteOldVerifyEmails>
            <unverifiedStatus><![CDATA[2]]></unverifiedStatus>
            <invalidStatus><![CDATA[4]]></invalidStatus>
            <emailFrom>noreply@urbanask.com</emailFrom>
            <emailSubject>urbanAsk email verification</emailSubject>
            <emailText><![CDATA[Verify your email address: {0}]]></emailText>
            <mailServer><![CDATA[smtp.urbanask.com]]></mailServer>
            <mailServerLogin><![CDATA[noreply@urbanask.com]]></mailServerLogin>
            <mailServerPassword><![CDATA[juk@aug2]]></mailServerPassword>
        </Default>
        <Development>
            <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
            <Schedule>
                <RefreshRate><![CDATA[10]]></RefreshRate>
            </Schedule>
            <connectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=verifyEmails;pwd=cluelessfishes;Connect Timeout=600;]]></connectionString>
            <apiUrl><![CDATA[http://75.144.228.69:55555/api/users/verifyemail?guid={0}]]></apiUrl>
        </Development>
        <Test>
            <connectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=verifyEmails;pwd=cluelessfishes;Connect Timeout=600;]]></connectionString>
            <apiUrl><![CDATA[http://75.144.228.69:55555/api/users/verifyemail?guid={0}]]></apiUrl>
        </Test>
        <Production>
            <connectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=verifyEmails;pwd=cluelessfishes;Connect Timeout=600;]]></connectionString>
            <apiUrl><![CDATA[http://urbanask.com/api/users/verifyemail?guid={0}]]></apiUrl>
        </Production>
    </Parameters>
</configuration>