<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default" type="Configuration.IgnoreSectionHandler" />
            <section name="Development" type="Configuration.IgnoreSectionHandler" />
            <section name="Test" type="Configuration.IgnoreSectionHandler" />
            <section name="Production" type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment" value="Development" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[30]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[00:01]]></StartTime>
                <StopTime><![CDATA[23:59]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverAppError@urbanask.com]]></ErrorMailTo>
            <commandTimeout><![CDATA[60]]></commandTimeout>
            <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <!-- application parameters -->
            <moveToWork><![CDATA[Gabs.processRegions.moveToWork]]></moveToWork>
            <processRegions><![CDATA[Gabs.processRegions.processRegions]]></processRegions>
            <processNewRegions><![CDATA[Gabs.processRegions.processNewRegions]]></processNewRegions>
            <deleteFromWork><![CDATA[Gabs.processRegions.deleteFromWork]]></deleteFromWork>
            <workCount><![CDATA[200]]></workCount>
        </Default>
        <Development>
            <Schedule>
                <RefreshRate><![CDATA[3]]></RefreshRate>
            </Schedule>
            <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
            <connectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processRegions;pwd=harkthecuberefusenow;Connect Timeout=600;]]></connectionString>
        </Development>
        <Test>
            <connectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processRegions;pwd=harkthecuberefusenow;Connect Timeout=600;]]></connectionString>
        
        </Test>
        <Production>
            <connectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=processRegions;pwd=harkthecuberefusenow;Connect Timeout=600;]]></connectionString>
        
        </Production>
    </Parameters>
</configuration>

