<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Development"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Test"
                     type="Configuration.IgnoreSectionHandler" />
            <section name="Production"
                     type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment"
             value="Test" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[2940]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[09:00]]></StartTime>
                <StopTime><![CDATA[21:00]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverapperror@urbanask.com]]></ErrorMailTo>
            <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <commandTimeout><![CDATA[60]]></commandTimeout>
            <!-- application parameters -->
            <loadQuestionQueue><![CDATA[Gabs.bot.loadQuestionQueue]]></loadQuestionQueue>
            <moveToWork><![CDATA[Gabs.bot.moveToWork]]></moveToWork>
            <insertQuestions><![CDATA[Gabs.bot.insertQuestions]]></insertQuestions>
            <selectAnswers><![CDATA[Gabs.bot.selectAnswer]]></selectAnswers>
            <workCount><![CDATA[4]]></workCount>
        </Default>
        <Development>
            <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
            <connectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=bot;pwd=goosegooseyulecards;Connect Timeout=600;]]></connectionString>
            <Schedule>
                <RefreshRate><![CDATA[10]]></RefreshRate>
            </Schedule>
        </Development>
        <Test>
            <connectionString><![CDATA[Server=69.65.42.214;Database=Gabs;uid=bot;pwd=goosegooseyulecards;Connect Timeout=600;]]></connectionString>
        </Test>
        <Production>
            <connectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=bot;pwd=goosegooseyulecards;Connect Timeout=600;]]></connectionString>
        </Production>
    </Parameters>
</configuration>