<configuration>
  <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true"
                 targetFramework="4.0" 
                 />
    <httpRuntime enableVersionHeader="false" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="GET,POST"
           path="questions"
           name="questions"
           type="messaging.questions"/>
      <add verb="GET,POST"
           path="answers"
           name="answers"
           type="messaging.answers"/>
    </handlers>
    <modules>
      <add name="removeHttpHeaders"
           type="removeHttpHeaders.removeHttpHeaders"/>
    </modules>
  </system.webServer>

</configuration>
