<configuration>
    <configSections>
        <sectionGroup name="Parameters">
            <section name="Default" type="Configuration.IgnoreSectionHandler" />
            <section name="Development" type="Configuration.IgnoreSectionHandler" />
            <section name="Test" type="Configuration.IgnoreSectionHandler" />
            <section name="Production" type="Configuration.IgnoreSectionHandler" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Environment" value="Development" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <Parameters>
        <Default>
            <!-- server app base parameters -->
            <Enabled><![CDATA[True]]></Enabled>
            <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
            <Schedule>
                <Type><![CDATA[Daily]]></Type>
                <Recurrence><![CDATA[Unlimited]]></Recurrence>
                <RefreshRate><![CDATA[3]]></RefreshRate>
                <Days>
                    <Day><![CDATA[EveryDay]]></Day>
                </Days>
                <StartTime><![CDATA[00:01]]></StartTime>
                <StopTime><![CDATA[23:59]]></StopTime>
                <LastRunDate><![CDATA[]]></LastRunDate>
            </Schedule>
            <ErrorMailTo><![CDATA[serverAppError@urbanask.com]]></ErrorMailTo>
            <CommandTimeout><![CDATA[60]]></CommandTimeout>
            <LogProcedureStatitics><![CDATA[False]]></LogProcedureStatitics>
            <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
            <!-- application parameters -->
            <BatchSize><![CDATA[500]]></BatchSize>
            <deleteErrorsFromWork><![CDATA[Messaging.processQuestions.deleteErrorsFromWork]]></deleteErrorsFromWork>
            <deleteFromWork><![CDATA[Messaging.processQuestions.deleteFromWork]]></deleteFromWork>
            <InsertQuestion><![CDATA[Messaging.processQuestions.insertQuestion]]></InsertQuestion>
            <MoveToError><![CDATA[Messaging.processQuestions.moveToError]]></MoveToError>
            <MoveToWork><![CDATA[Messaging.processQuestions.moveToWork]]></MoveToWork>
            <ViewQuestionMessage><![CDATA[Messaging.processQuestions.viewQuestionMessage]]></ViewQuestionMessage>
            <addExistingAnswers><![CDATA[Messaging.processQuestions.addExistingAnswers]]></addExistingAnswers>
            <WorkCount><![CDATA[2000]]></WorkCount>
        </Default>
        <Development>
            <LogProcedureStatitics><![CDATA[True]]></LogProcedureStatitics>
            <messagingConnectionString><![CDATA[Server=75.144.228.69;Database=Messaging;uid=processQuestions;pwd=Porq#5Quist;Connect Timeout=600;]]></messagingConnectionString>
        </Development>
        <Test>
            <messagingConnectionString><![CDATA[Server=SERVER2008;Database=Messaging;uid=processQuestions;pwd=Porq#5Quist;Connect Timeout=600;]]></messagingConnectionString>
        </Test>
        <Production>
            <messagingConnectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Messaging;uid=processQuestions;pwd=Porq#5Quist;Connect Timeout=600;]]></messagingConnectionString>
        </Production>
    </Parameters>
</configuration>