<configuration>
  <configSections>
    <sectionGroup name="Parameters">
      <section name="Default" type="Configuration.IgnoreSectionHandler" />
      <section name="Development" type="Configuration.IgnoreSectionHandler" />
      <section name="Test" type="Configuration.IgnoreSectionHandler" />
      <section name="Production" type="Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Environment" value="Development" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <Parameters>
    <Default>
      <!-- server app base parameters -->
      <Enabled><![CDATA[True]]></Enabled>
      <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
      <Schedule>
        <Type><![CDATA[Daily]]></Type>
        <Recurrence><![CDATA[Unlimited]]></Recurrence>
        <RefreshRate><![CDATA[3]]></RefreshRate>
        <Days>
          <Day><![CDATA[EveryDay]]></Day>
        </Days>
        <StartTime><![CDATA[00:15]]></StartTime>
        <StopTime><![CDATA[23:30]]></StopTime>
        <LastRunDate><![CDATA[]]></LastRunDate>
      </Schedule>
      <ErrorMailTo><![CDATA[ts.metagab@spamex.comm]]></ErrorMailTo>
      <!-- application parameters -->
      <BatchSize><![CDATA[500]]></BatchSize>
      <CommandTimeout><![CDATA[60]]></CommandTimeout>
      <deleteErrorsFromWork><![CDATA[Messaging.processQuestions.deleteErrorsFromWork]]></deleteErrorsFromWork>
      <deleteFromWork><![CDATA[Messaging.processQuestions.deleteFromWork]]></deleteFromWork>
      <gabsConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processQuestions;pwd=Porq#5Quist;Connect Timeout=600;]]></gabsConnectionString>
      <InsertQuestion><![CDATA[Messaging.processQuestions.insertQuestion]]></InsertQuestion>
      <LogProcedureStatitics><![CDATA[False]]></LogProcedureStatitics>
      <messagingConnectionString><![CDATA[Server=SERVER2008;Database=Messaging;uid=processQuestions;pwd=Porq#5Quist;Connect Timeout=600;]]></messagingConnectionString>
      <MoveToError><![CDATA[Messaging.processQuestions.moveToError]]></MoveToError>
      <MoveToWork><![CDATA[Messaging.processQuestions.moveToWork]]></MoveToWork>
      <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
      <ViewQuestionMessage><![CDATA[Messaging.processQuestions.viewQuestionMessage]]></ViewQuestionMessage>
      <WorkCount><![CDATA[2000]]></WorkCount>
    </Default>
    <Development>
      <LogProcedureStatitics><![CDATA[True]]></LogProcedureStatitics>
    </Development>
    <Test>
    </Test>
    <Production>
    </Production>
  </Parameters>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>