<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true"
                 targetFramework="4.0"
                 />
    <httpRuntime enableVersionHeader="false" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="POST,GET"
           path="questions"
           name="questions"
           type="api.questions"/>
      <add verb="POST,GET"
           path="answers"
           name="answers"
           type="api.answers"/>
      <add verb="POST,GET"
           path="users"
           name="users"
           type="api.users"/>
      <add verb="POST,GET"
           path="account"
           name="account"
           type="api.account"/>
      <add verb="POST,GET"
           path="lookups"
           name="lookups"
           type="api.lookups"/>
    <add verb="POST,GET"
            path="top"
            name="top"
            type="api.top"/>
    <add verb="POST,GET"
            path="sms"
            name="sms"
            type="api.sms"/>
    </handlers>
    <modules>
      <add name="removeHttpHeaders"
           type="removeHttpHeaders.removeHttpHeaders"/>
    </modules>
  </system.webServer>

</configuration>
