<configuration>

	<configSections>

        <sectionGroup name="Parameters">
            <section name="Default" type="Configuration.IgnoreSectionHandler"/>
            <section name="Development" type="Configuration.IgnoreSectionHandler"/>
            <section name="Test" type="Configuration.IgnoreSectionHandler"/>
            <section name="Production" type="Configuration.IgnoreSectionHandler"/>
        </sectionGroup>

    </configSections>

    <appSettings>
        <add key="Environment" value="Test"/>
        <add key="Product" value="eobResolve"/>
    </appSettings>

	<Parameters>

        <Default>

            <XmlMessaging>

                <DefaultChunkSize>
                    <![CDATA[3000]]>
                </DefaultChunkSize>

                <ChunkSizeExpression>
                    <![CDATA[chunksize\s*=\s*[""'](?<ChunkSize>\d*)[""']]]>
                </ChunkSizeExpression>

                <DefaultTimeout>
                    <![CDATA[300000]]>
                </DefaultTimeout>

                <TimeoutExpression>
                    <![CDATA[timeout\s*=\s*[""'](?<Timeout>\d*)[""']]]>
                </TimeoutExpression>

            </XmlMessaging>

            <!-- ServerAppBase Parameters -->
            <Enabled>
                <![CDATA[True]]>
            </Enabled>

            <WorkQueueChunkSize>
                <![CDATA[200]]>
            </WorkQueueChunkSize>

            <ShutdownApplication>
                <![CDATA[False]]>
            </ShutdownApplication>

            <Schedule>

                <Type>
                    <![CDATA[Daily]]>
                </Type>

                <Recurrence>
                    <![CDATA[Once]]>
                </Recurrence>

                <RefreshRate>
                    <![CDATA[1]]>
                </RefreshRate>

                <Days>
                    <Day>
                        <![CDATA[EveryDay]]>
                    </Day>
                </Days>

                <StartTime>
                    <![CDATA[03:30]]>
                </StartTime>

                <StopTime>
                    <![CDATA[23:30]]>
                </StopTime>

                <LastRunDate>
                    <![CDATA[]]>
                </LastRunDate>

            </Schedule>

            <!-- Error Mail Parameters -->
            <ErrorMailTo>
                <![CDATA[matt.walton@nhxs.com]]>
            </ErrorMailTo>

            <!-- Application Parameters -->
            <ThreadMillisecondsTimeout>
                <![CDATA[1000]]>
            </ThreadMillisecondsTimeout>

            <SetErrorsProcedure>
                <![CDATA[SetErrors]]>
            </SetErrorsProcedure>

            <MoveQueueItemsProcedure>
                <![CDATA[MoveClaimQueueItems]]>
            </MoveQueueItemsProcedure>

            <DeleteErrorsProcedure>
                <![CDATA[DeleteClaimErrors]]>
            </DeleteErrorsProcedure>

            <DeleteOverridesProcedure>
                <![CDATA[DeleteClaimErrorOverrides]]>
            </DeleteOverridesProcedure>

            <InboxQueue>
                <![CDATA[Claim Errors Inbox]]>
            </InboxQueue>

            <WorkQueue>
                <![CDATA[Claim Errors Work]]>
            </WorkQueue>

            <OutboxQueue>
                <![CDATA[Claim Errors Outbox]]>
            </OutboxQueue>

            <CommandTimeout>
                <![CDATA[30]]>
            </CommandTimeout>

            <LogProcedureStatitics>
                <![CDATA[False]]>
            </LogProcedureStatitics>

        </Default>

        <Development>
		
			<XmlMessaging>

				<MessagingUrl>
					<![CDATA[http://app-dev-1/XMLListener/XMLListener.aspx]]>
				</MessagingUrl>				

			</XmlMessaging>

			<ConnectionString>
				<![CDATA[Server=DB-DEV-1;Database=Support;uid=ClaimErrors;pwd=you45tu;Connect Timeout=30;]]>
			</ConnectionString>

	    </Development>

        <Test>

            <XmlMessaging>

                <MessagingUrl>
                    <![CDATA[http://app-test-1/XMLListener/XMLListener.aspx]]>
                </MessagingUrl>

            </XmlMessaging>

            <ConnectionString>
                <![CDATA[Server=DB-TEST-1;Database=Support;uid=ClaimErrors;pwd=you45tu;Connect Timeout=30;]]>
            </ConnectionString>

        </Test>

        <Production>

            <XmlMessaging>

                <MessagingUrl>
                    <![CDATA[http://app-prod-1/XMLListener/XMLListener.aspx]]>
                </MessagingUrl>

            </XmlMessaging>

            <ConnectionString>
                <![CDATA[Server=DB-PROD-1;Database=Support;uid=ClaimErrors;pwd=you45tu;Connect Timeout=30;]]>
            </ConnectionString>

        </Production>

</Parameters>
		
</configuration>
