a, a:active, a:hover, a:link, a:visited {text-decoration: none;}

.store-link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 125px auto;
    display: block;
    height: 50px;
    padding-top: 8px;
    margin: 0 auto;
}

#amazon-store-link {
    background-image: url("../images/download/amazon.png");
}

.store-qr {
    height: 125px;
    margin: 0 auto;
    width: 125px; 
    border: none;   
}


#app-links {
    display: inline-block;
    margin-left: 20px;
    margin-top: 135px;
    vertical-align: top;
    width: 300px;
}

#apple-store-link {
    background-image: url("../images/download/app-store.gif");
}

body {
    color: white;
    overflow: auto !important;
    text-align: center;
    vertical-align: top;
}

#button-store-link {
    bottom: 465px;
    display: block;
    height: 88px;
    left: 215px;
    position: relative;
    width: 88px;
}

.bullet-point {
    font-size: 20px;
    text-align: left;
}

#free-button {
    background-image: url("../images/download/red_foil_sticker.png");
    background-repeat: no-repeat;
    color: white;
    height: 88px;
    text-shadow: #601C1C 0px -1px 0;
    transform: rotate(9deg);
        -webkit-transform: rotate(9deg);
        -o-transform: rotate(9deg);
        -moz-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
    width: 88px;

}

#free-button-text {
    font-size: 22px;
    line-height: 88px;
    text-align: center;
    transform: rotate(9deg);
        -webkit-transform: rotate(9deg);
        -o-transform: rotate(9deg);
        -moz-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
}

#google-store-link {
    background-image: url("../images/download/google-play.png");
}

#landing-logo {
    display: block;
    height: 125px;
    margin: 0 auto 20px auto;
}

.links-text {
    font-size: 20px;
    
}

#phone-preview {
    background-position: center bottom;
    background-repeat: no-repeat;
    display: inline-block;
    height: 622px;
    vertical-align: top;
    width: 293px;
}

#phone-preview.iphone {
    background-image: url("../images/download/iphone.png");
    height: 622px;
    margin-top: 50px;
}

#phone-preview.android {
    background-image: url("../images/download/android.png") !important;
    height: 540px;
    margin-top: 75px;
}

#phone-screen {
    width: 239px;
    height: 358px;
    overflow: hidden;
    position: relative;
    
}

#phone-preview.iphone #phone-screen {
    margin: 99px auto 0 auto;
}

#phone-preview.android #phone-screen {
    margin: 74px auto 0 auto;
}

#screen-shot-container {
    width: 1195px;
    height: 358px;
    position: absolute;
	transition: all 1.0s ease-in-out;
		-webkit-transition: all 1.0s ease-in-out;
		-moz-transition: all 1.0s ease-in-out;
		-o-transition: all 1.0s ease-in-out;
		-ms-transition: all 1.0s ease-in-out;	
}

#screen-shot-container div
{	
    background-repeat: no-repeat;
    height: 358px;
    width: 239px;
    float: left;
}

#screen-shot-container.screen-shot-1
{
	left: 0;
}

#screen-shot-container.screen-shot-2
{
	left: -239px;
}

#screen-shot-container.screen-shot-3
{
	left: -478px;
}

#screen-shot-container.screen-shot-4
{
	left: -717px;
}

#screen-shot-container.screen-shot-5
{
	left: -956px;
}

#phone-preview.iphone #screen-shot-1
{	
    background-image: url("../images/download/iphone-screen-shot-1.png");
}

#phone-preview.iphone #screen-shot-2
{	
    background-image: url("../images/download/iphone-screen-shot-2.png");
}

#phone-preview.iphone #screen-shot-3
{	
    background-image: url("../images/download/iphone-screen-shot-3.png");
}

#phone-preview.iphone #screen-shot-4
{	
    background-image: url("../images/download/iphone-screen-shot-4.png");
}

#phone-preview.iphone #screen-shot-5
{	
    background-image: url("../images/download/iphone-screen-shot-5.png");
}

#phone-preview.android #screen-shot-1
{	
    background-image: url("../images/download/android-screen-shot-1.png");
}

#phone-preview.android #screen-shot-2
{	
    background-image: url("../images/download/android-screen-shot-2.png");
}

#phone-preview.android #screen-shot-3
{	
    background-image: url("../images/download/android-screen-shot-3.png");
}

#phone-preview.android #screen-shot-4
{	
    background-image: url("../images/download/android-screen-shot-4.png");
}

#phone-preview.android #screen-shot-5
{	
    background-image: url("../images/download/android-screen-shot-5.png");
}

.stores 
{
	list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0;
    padding: 0;
}

.stores li
{
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
}

#text-body {
    display: inline-block;
    height: 600px;
    padding-right: 50px;
    margin-top: 25px;
    vertical-align: top;
    width: 350px;
}

.urban-info {
    font-size: 16px;
    text-align: left;
}

#web-store-link {
    background-image: url("../images/download/on-the-web.png");
}