<configuration>
  <configSections>
    <sectionGroup name="Parameters">
      <section name="Default"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Development"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Test"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Production"
               type="Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Environment"
         value="Development" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0" />
  </startup>
  <Parameters>
    <Default>
      <!-- server app base parameters -->
      <Enabled><![CDATA[True]]></Enabled>
      <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
      <Schedule>
        <Type><![CDATA[Daily]]></Type>
        <Recurrence><![CDATA[Unlimited]]></Recurrence>
        <RefreshRate><![CDATA[5]]></RefreshRate>
        <Days>
          <Day><![CDATA[EveryDay]]></Day>
        </Days>
        <StartTime><![CDATA[00:01]]></StartTime>
        <StopTime><![CDATA[23:59]]></StopTime>
        <LastRunDate><![CDATA[]]></LastRunDate>
      </Schedule>
      <ErrorMailTo><![CDATA[ts.metagab@spamex.comm]]></ErrorMailTo>
      <commandTimeout><![CDATA[60]]></commandTimeout>
      <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
      <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
      <!-- application parameters -->
      <beginningOfTime><![CDATA[8/1/2011]]></beginningOfTime>
      <count><![CDATA[30]]></count>
      <lookupRegions><![CDATA[Gabs.top.lookupRegions]]></lookupRegions>
      <lookupIntervals><![CDATA[Gabs.top.lookupIntervals]]></lookupIntervals>
      <processUsersReputation><![CDATA[Gabs.top.processUsersReputation]]></processUsersReputation>
      <processUsersQuestions><![CDATA[Gabs.top.processUsersQuestions]]></processUsersQuestions>
      <processUsersAnswers><![CDATA[Gabs.top.processUsersAnswers]]></processUsersAnswers>
      <processUsersBadges><![CDATA[Gabs.top.processUsersBadges]]></processUsersBadges>

    </Default>
    <Development>
      <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
        <gabsConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processTopLists;pwd=guildingthebinary;Connect Timeout=600;]]></gabsConnectionString>
    </Development>
    <Test>
        <Schedule>
            <RefreshRate><![CDATA[600]]></RefreshRate>
        </Schedule>
        <gabsConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processTopLists;pwd=guildingthebinary;Connect Timeout=600;]]></gabsConnectionString>
    </Test>
    <Production>

      <Schedule>
        <RefreshRate><![CDATA[600]]></RefreshRate>
      </Schedule>

        <gabsConnectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=processTopLists;pwd=guildingthebinary;Connect Timeout=600;]]></gabsConnectionString>
    </Production>
  </Parameters>
</configuration>