<configuration>
  <configSections>
    <sectionGroup name="Parameters">
      <section name="Default"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Development"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Test"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Production"
               type="Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Environment"
         value="Development" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0" />
  </startup>
  <Parameters>
    <Default>
      <!-- server app base parameters -->
      <Enabled><![CDATA[True]]></Enabled>
      <ShutdownApplication><![CDATA[False]]></ShutdownApplication>
      <Schedule>
        <Type><![CDATA[Daily]]></Type>
        <Recurrence><![CDATA[Unlimited]]></Recurrence>
        <RefreshRate><![CDATA[3]]></RefreshRate>
        <Days>
          <Day><![CDATA[EveryDay]]></Day>
        </Days>
        <StartTime><![CDATA[00:01]]></StartTime>
        <StopTime><![CDATA[23:59]]></StopTime>
        <LastRunDate><![CDATA[]]></LastRunDate>
      </Schedule>
      <ErrorMailTo><![CDATA[ts.metagab@spamex.comm]]></ErrorMailTo>
        <logProcedureStatitics><![CDATA[False]]></logProcedureStatitics>
        <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
        <batchSize><![CDATA[500]]></batchSize>
        <commandTimeout><![CDATA[60]]></commandTimeout>
        <!-- application parameters -->
        <deleteErrorsFromWork><![CDATA[Messaging.processAnswers.deleteErrorsFromWork]]></deleteErrorsFromWork>
      <deleteFromWork><![CDATA[Messaging.processAnswers.deleteFromWork]]></deleteFromWork>
      <insertAnswer><![CDATA[Messaging.processAnswers.insertAnswer]]></insertAnswer>
      <moveToError><![CDATA[Messaging.processAnswers.moveToError]]></moveToError>
      <moveToWork><![CDATA[Messaging.processAnswers.moveToWork]]></moveToWork>
      <ThreadMillisecondsTimeout><![CDATA[250]]></ThreadMillisecondsTimeout>
      <viewAnswerMessage><![CDATA[Messaging.processAnswers.viewAnswerMessage]]></viewAnswerMessage>
    </Default>
    <Development>
        <logProcedureStatitics><![CDATA[True]]></logProcedureStatitics>
        <workCount><![CDATA[2000]]></workCount>
        <gabsConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></gabsConnectionString>
        <messagingConnectionString><![CDATA[Server=SERVER2008;Database=Messaging;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></messagingConnectionString>
    </Development>
    <Test>
        <workCount><![CDATA[3500]]></workCount>
        <gabsConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></gabsConnectionString>
        <messagingConnectionString><![CDATA[Server=SERVER2008;Database=Messaging;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></messagingConnectionString>
    </Test>
    <Production>
        <workCount><![CDATA[3500]]></workCount>
        <gabsConnectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Gabs;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></gabsConnectionString>
        <messagingConnectionString><![CDATA[Server=WIN-FKVLOOSI1RO;Database=Messaging;uid=processAnswers;pwd=slashpborkbork;Connect Timeout=600;]]></messagingConnectionString>
    </Production>
  </Parameters>
</configuration>