<configuration>
  <configSections>
    <sectionGroup name="Parameters">
      <section name="Default"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Development"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Test"
               type="Configuration.IgnoreSectionHandler" />
      <section name="Production"
               type="Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Environment"
         value="Development" />
  </appSettings>
  <Parameters>

    <Default>
      <CommandTimeout><![CDATA[60]]></CommandTimeout>
      <ConnectionString><![CDATA[Server=SERVER2008;Database=Gabs;uid=Messaging;pwd=chicogarciassanchez;Connect Timeout=600;]]></ConnectionString>
      <CheckAuthorizationProcedure><![CDATA[Gabs.Messaging.CheckAuthorization]]></CheckAuthorizationProcedure>

    </Default>

    <Development>
    </Development>

    <Test>
    </Test>

    <Production>
    </Production>

  </Parameters>

</configuration>
